body {
    font-family: Arial, sans-serif;
    margin: 0; /* enlève la marge car par défaut il y en a une */
    padding: 0;
    background-color: #f2f2f2;
}

/*----------------------------------------------------------*/
/* HEADER */

header {
    position: fixed;
    z-index: 10;
    height: 120px;
    top: 0;
    width: 100%;
    background-color: #f2f2f2;
    /* border: 1px solid red; */
}

/*-----------------------------*/
/* Standard menu */

.header-menu {
    display: flex;
    /* border: 1px solid red; */
    
    .header-logo {
        display: flex;
        align-items: center;
        padding-left: 5px;
        /* border: 1px solid blue; */

        img {
            width: 100%;
            padding: 0;
            /* border: 1px solid green; */
        }
    }

    .header-menu-section {
        margin-left: auto;
        /* border: 1px solid lightskyblue; */

        ul {
            display: flex;
            justify-content: center;
            padding:  0;
            margin-left: 20px;
            /* border: 1px solid green; */
        }
        
        li {
            display: flex;
            list-style: none;
            margin: 10px;
            /* border: 1px solid orange; */
        }

        li a {
            /* enlever le style de base */
            text-decoration: none;
            border: none;
            background-color: transparent;
        
            /* autres */
            font-size: 2vw;
            font-weight: bold;
            color: #000000;
            /* border: 1px solid yellow; */
        }
    
        /* Style au survol */
        li a:hover {
            color: #666;
        }
    }
}

/* Default Dropdown menu */
.header-dropdown-menu{
   display: none;
}

/* Responsive menu */
@media screen and (max-width: 800px) {
    header {
        z-index: 1;
        display: flex;
        justify-content: center;
    }
    
    .header-menu {
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: red; */
        
        .header-logo {
            /* display: flex; */
            /* align-items: center; */
            justify-content: center;
            padding: 0;
            img {
                width: 80%;
            }
        }
    }
    
    .header-dropdown-menu {
        display: flex; /* TODO: pourquoi ca marche pas qd on enlève? */
        .default-icon {
            z-index: 1;
            margin-top: 10px;
            width: 50px;
            cursor: pointer;
        }
    }

    .header-menu-section.open-menu {
        z-index: 1;
        opacity: 1;
        visibility: visible;
        transition: 0.6s;
    }

    .header-menu-section.close-menu {
        z-index: 1;
        opacity: 0;
        visibility: visible;
        transition: 0.6s;
    }

    .header-menu-section {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(7px);
        opacity: 0;
        visibility: hidden;

        ul {
            flex-direction: column;
            margin: 200px 0;
            margin-left: 0!important;
            /* border: 1px solid orange; */
        }
        
        li {
            display: flex;
            justify-content: center;
            /* border: 1px solid blue; */
        }

        li a {
            font-size: 6vw!important;
            color: #ffffff!important;
        }
    
        /* Style au survol */
        li a:hover {
            color: #aaaaaa!important;
        }
    }

    .gallery-filter{
        h1 {
            font-size: 6vw!important;
        }

        .filter-item {
            font-size: 5vw!important;
        }
    }
}

/*----------------------------------------------------------*/
/* MAIN */

main {
    margin-top: 120px;
    margin-bottom: 100px;
    /* border: 1px solid blue; */
}

/*-----------------------------*/
/* Homepage video */

.homepage-video-container { 
    /* width: 1000px; */
    /* justify-content: center; */
    /* border: 1px solid red; */
    
    .homepage-video {
        position: relative;
        /* height: 0; initialise la hauteur à 0 pour calculer la hauteur du conteneur basée sur le ratio */
        padding-bottom: 56.25%; /* ratio hauteur/largeur de 16:9 soit (9/16)*100% pour la vidéo */
        /* border: 1px solid blue; */

        /* Définit les styles pour la vidéo elle-même */
        iframe {
            position: absolute; /* la vidéo remplit tout le conteneur parent */
            width: 100%; /* la vidéo occupe toute la largeur du conteneur */
            height: 100%; /* la vidéo occupe toute la hauteur du conteneur */
        }
    }
}

/*-----------------------------*/
/* Gallery filter */

.gallery-filter{
    padding-top: 100px;
    padding-bottom: 25px;
    
    .gallery-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        
        .bar + h1 {
            margin: 0 20px;
        }

        h1 {
            display: flex;
            justify-content: center;
            margin: 0;
            margin-bottom: 50px;
            font-size: 50px;
        }
    
        .bar {
            width: 200px;
            height: 2px;
            background-color: black;
        }
    }
    
    .filter-item-container {
        display: flex;
        justify-content: center;
        padding:  0;
        margin: 0 0 50px;
        /* border: 1px solid green; */
        
        .filter-item {
            /* enlever le style de base */
            text-decoration: none;
            border: none;
            background-color: transparent;
            /* border: 1px solid green; */
        
            /* autres */
            font-size: 40px;
            font-weight: bold;
            color: #000000;
            cursor: pointer;
        }
    
        /* Style au survol */
        .filter-item:hover {
            color: #666;
        }
    }

    .dot-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        /* border: 1px solid green; */

        .dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: black;
        }
    }
}

/*-----------------------------*/
/* Masonry Layout */

.masonry-container {
    margin: 0 auto; /* centre le contenur horizontalement sur la page */
    font-size: 0; /* supprime l'espace entre les éléments en ligne */
    /* border: 1px solid red; */
}

.masonry-container-item {
    width: calc(100% / 3);
}

.masonry-container-item img, .masonry-container-item iframe {
    width: 100%; /* images et les iframes s'adaptent à la largeur de leur conteneur */
    background-color: yellow;
}

.masonry-container-item iframe {
    width: 100%;
}

/* Pour les écrans jusqu'à 800px de largeur */
@media only screen and (max-width: 800px) {
    .masonry-container-item {
        width: calc(100% / 2);
        /* background-color: blue; */
    }
}

/*-----------------------------*/
/* Text overlay and image zoom on hover */

.masonry-container-item {
    /* position: relative; */
    overflow: hidden;

    a {
        display: flex;
    }
}

.masonry-container-item .content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 0.8s;
    
    h1 {
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        font-size: 30px;
        color: #f2f2f2;
    }
}

.masonry-container-item .content:hover {
    opacity: 1;
}

.masonry-container-item:hover img {
    transform: scale(1.2);
    transition: 0.8s;
}

/*-----------------------------*/
/* FOOTER */

footer {
    background-color: #000000;
    margin-top: 50px;
    padding: 100px;
}

.footer-social-icons {
    display: flex;
    justify-content: center; /* aligne horizontalement au centre */
    .icon {
        width: 40px;
        height: 40px;
        padding: 10px;
    }
}

.footer-copyright {
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #ffffff;
}

/*-----------------------------*/
/* About page */
   
.about-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    /* border: 1px solid red; */
}

.about-profile-picture {
    width: 300px;
    height: auto;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;   
    /* border: 1px solid red; */
    
    img {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about-description {
    width: 500px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    /* border: 1px solid red; */

    p {
        margin: 0;
        /* border: 1px solid blue; */
    }
}

.skills-container {
    display: flex;
    justify-content: center;
    
    .skills-description {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-right: 120px;
        gap: 40px;
        /* border: 1px solid red; */

        h3 {
            margin: 0;
        }

        p {
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 870px) {
    .about-container {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    
    .about-profile-picture {
        order: 2;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .about-description {
        width: 80%;
        align-items: center;
        order: 1;
    }
    
    .skills-container {

        .skills-description {
            align-items: center;
            width: 80%;
            margin: 0;
        }

        .row {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

/*-----------------------------*/
/* Contact page */

.form-container {
    display: flex;
    justify-content: center;

    .title-container {
        margin-bottom: 30px;
        /* border: 1px solid red; */
    }
    
    .row {
        display: flex;
        gap: 50px;
        margin-bottom: 30px;
        /* border: 1px solid red; */
    }

    /* .form {
        border: 1px solid red;
    } */

    .form-control:focus {
        border-bottom: 1px solid #000;
        outline: none;
        transition: border-bottom 0.8s ease;
    }

    .form-control {
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        width: 300px;
        height: 50px;
        border: none;
        border-bottom: 1px solid #d9d9d9;
        background-color: #f2f2f2;
        /* border: 1px solid blue; */
    }

    .message-container {
        width: 100%;
        /* border: 1px solid green; */
    }

    textarea.form-control {
        width: 100%;
        min-height: 100px;
        max-height: 300px;
        resize: vertical;
        box-sizing: border-box; /* équivalent de margin: 0; + padding: 0; */
        /* border: 1px solid red; */
    }

    .submit {
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        padding: 10px;
        color: #fff;
        background-color: #1a1a1a;
        border: none;
    }
    
    .submit:hover {
        background-color: #000000;
    }

    .error {
        margin-top: 10px;
        display: none;
    }
    
    .error.active {
        display: flex;
    }

    label.error {
        font-size: 12px;
        color: #000000;
    }
}

@media screen and (max-width: 800px) {

    .form-container {
        .title-container {
            display: flex;
            justify-content: center;
        }
    
        .row {
            flex-direction: column;
            gap: 30px!important;
        }
    }
}

/*-----------------------------*/
/* Gallery page*/

#mainImage {
    cursor: zoom-in; /* Affiche une main pour indiquer que l'image est cliquable */
}
/* Classe pour l'image zoomée */
.zoomed-image {
    position: absolute; /* Position absolue pour permettre le déplacement */
    pointer-events: none; /* Désactive les événements de souris sur l'image */
    z-index: 1000; /* Assure que l'image est au-dessus de tous les autres éléments */
    transition: transform 0.1s ease; /* Transition douce pour le déplacement de l'image */
    object-fit: contain;
}

/* Overlay pour l'effet de zoom */
#zoomOverlay {
    display: none; /* Caché par défaut */
    position: fixed; /* Position fixe pour couvrir toute la fenêtre */
    top: 0;
    left: 0;
    width: 100vw; /* Couvre toute la largeur de la fenêtre */
    height: 100vh; /* Couvre toute la hauteur de la fenêtre */
    background: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    z-index: 1000; /* Assure que l'overlay est au-dessus de tous les autres éléments */
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    cursor: zoom-out;
}

.vimeo-container, .youtube-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}

.vimeo-container iframe, .youtube-container iframe {
    width: 100%;
    height: 400px;
    background-color: black;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid green; */

    .main-image-container {
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: center;
        
        /* img, button {
            border: 1px solid red;
        } */
    }
    
    .main-image {
        display: flex;
        justify-content: center;
        width: 60%;
        height: 80vh;
        background: rgba(0, 0, 0, 0.1);
        /* border: 1px solid green; */
        
        img {
            width: 100%; 
            /* TODO: il faut mettre ça pr la responsivité */
            object-fit: contain;
        }
    }
    
    .nav-arrow {
        border: none;
        cursor: pointer;
        padding: 0;
        width: 40px;
    }

    .arrow {
        width: 100%;
        background-color: #f2f2f2;
    }

    .nav-arrow {
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
    
    .nav-arrow:hover {
        opacity: 0.7; 
        transform: scale(2.1);
    }

    .thumbnail-container {
        display: flex;
        justify-content: center;
        /* border: 1px solid green; */
    }

    .thumbnails {
        display: flex;
        justify-content: start;
        overflow-x: auto;
        width: 500px;
        white-space: nowrap;
    }
    
    .thumbnail {
        width: 100px;
        height: 70px;
        object-fit: cover;
        cursor: pointer;
        margin: 0 5px;
        border: 2px solid transparent;
        transition: border 0.5s;
    }
    
    .thumbnail:hover, .thumbnail.active {
        border: 2px solid #000000;
    }
}

.gallery-description-container {
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
    /* border: 1px solid green; */
    
    .gallery-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;

        h2 {
            margin: 0 0 30px 0;
        }

        p {
            margin: 0;
            font-size: 18px;
        }
    }
}

.return-home {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    /* border: 1px solid red; */

    a {
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: #000000;
    }
}

.return-home a:hover {
    color: #666;
}